<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="ItemAnalyzer.Transport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
 </configSections>
	<applicationSettings>
		<ItemAnalyzer.Transport.Properties.Settings>
   <setting name="LoginURL" serializeAs="String">
    <value>https://www.pathofexile.com/login</value>
   </setting>
   <setting name="CharacterURL" serializeAs="String">
    <value>http://www.pathofexile.com/character-window/get-characters</value>
   </setting>
   <setting name="StashURL" serializeAs="String">
    <value>http://www.pathofexile.com/character-window/get-stash-items?league={0}&amp;tabs=1&amp;tabIndex={1}</value>
   </setting>
   <setting name="InventoryURL" serializeAs="String">
    <value>http://www.pathofexile.com/character-window/get-items?character={0}</value>
   </setting>
   <setting name="HashRegEx" serializeAs="String">
    <value>name=\"hash\" value=\"(?&lt;hash&gt;[a-zA-Z0-9]{1,})\"</value>
   </setting>
   <setting name="Credentials" serializeAs="String">
    <value>Item Analyzer\v.1.0\credentials.json</value>
   </setting>
  </ItemAnalyzer.Transport.Properties.Settings>
	</applicationSettings>
</configuration>